
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
  padding: 40;
  width: 100%;
  height: 2em;
  background-color: rgb(236, 236, 41);
  display: flex;
  flex-direction: row;
  justify-content: center;
   align-items: center;
 
  
  
}